<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinapse.direction">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.TeacherContent"></activity>
        <activity android:name=".ui.ContentDetails" />
        <activity android:name=".ui.ClassroomCreationForm" />
        <activity android:name=".ui.Messages" />
        <activity android:name=".ui.SchoolActivityByDay" />
        <activity android:name=".ui.ActivityDetails" />
        <activity android:name=".ui.TeacherActivityByDay" />
        <activity android:name=".ui.TeacherProfile" />
        <activity android:name=".ui.TeachersBySchool" />
        <activity android:name=".ui.TeachersByClassroom" />
        <activity android:name=".ui.ClassroomActivityByDay" />
        <activity android:name=".ui.StudentProfile" />
        <activity android:name=".ui.StudentsByClassroom" />
        <activity android:name=".ui.Classroom" />
        <activity android:name=".ui.Grade" />
        <activity android:name=".ui.School" />
        <activity android:name=".ui.EdikContentByGrade" />
        <activity android:name=".ui.EdikContent" />
        <activity android:name=".ui.Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>